body {
	background-image: url("../images/wallpaper.png");
}

#container {
	padding:0px 200px 0px 200px;
	width:960px;
}

.top {
	background-color:#777777;
/*	position:absolute;
*/	height:100px;
	width:100%;
}


h1 {
	float:left;
	margin-left:200px;
	width:300px;
	padding: 35px;
	background-color:#4aaaa5;
	color:#ffffff;
	font-size:30px;
	font-family:'Georgia', Times, Times New Roman, serif;
	text-align:center;
}

.menu{
	width: 300px;
	margin-left:900px;
	font-size:20px;
	color:#777777;
	padding:40px;

}

/*To clear hyperlink decorations*/
#about,
#port,
#contact {
	text-decoration: none
}


#about,
#port,
#contact {
	color: #ffffff;
	border-right: solid 2px white;
	padding: 10px;
}
