body {
	background-image: url("../images/wallpaper.png");
}

#container {
	padding:125px 100px 100px 100px;
	margin-bottom: 25px;
	width:960px;
	height:100%;
}

.top {
	position:absolute;
	top:0;
	height:80px;
	width:100%;
	background-color: #ffffff;
	border-bottom:solid 1px #cccccc;
}


h1 {
	float:left;
	margin-left:100px;
	width:150px;
	padding: 25px;
	background-color:#4aaaa5;
	color:#ffffff;
	font-size:30px;
	font-family:'Georgia', Times, Times New Roman, serif;
	text-align:center;
}

.menu{
	position:absolute;
	left:760px;
	width:300px;
	font-size:20px;
	color:#777777;
	padding:30px;
}

/*To clear hyperlink decorations*/
#about,
#port,
#contact {
	text-decoration:none
}

#about,
#port,
#contact {
	color:#4aaaa5;
	padding:10px 10px 10px 10px;
	text-align:center;
}

#about,
#port {
	border-right:solid 2px #e6e6e6;
}

#container {
	padding:125px 100px 0px 100px;
	width:960px;
	height:100%;
}

h2{
	color:#4aaaa5;
	font-size: 28px;
	padding: 25px 20px 25px 20px;
	font-weight:bold;
}

#intro {
	float:left;
	width:650px;
	background-color: #ffffff;
	border:solid 1px #dddddd;
}

#content {
	margin:0px 20px 0px 20px;
	border-top:solid 1px #e6e6e6;
}

#profile {
	float:left;
	margin:20px 20px 0px 0px;
}

p {	
	margin:20px 0px 20px 0px;
	font-size:14px;
	line-height: 150%;
	letter-spacing: 1px;
}

h3{
	color:#4aaaa5;
	font-size: 28px;
	width:270px;
	text-align:center;
}

.social {
	position:absolute;
	left:790px;
	top:125px;
	padding:40px 0px 120px 0px;
	width:270px;
	background-color: #ffffff;
	border:solid 1px #dddddd;
}

#git,
#linked,
#stacked,
#twitch{
	position:absolute;
	float:left;
	top:90px;
	padding:25px 5px 25px 5px;
	border-top:solid 2px #e6e6e6;
}

#git{
	left:19px;
}

#linked{
	left:77px;
}

#stacked{
	left:135px;
}

#twitch{
	left:193px;
}

.footer {
	position:relative;
	top:25px;
	background:#666666;
	color:#ffffff;
	clear:both;
	width:100%;
	text-align:center;
	padding:32px 0px 32px 0px;
	border-top:solid 5px #4aaaa5;
	margin-top:25px;
}
